HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### JTE ###
/jte-classes/

### Kotlin ###
.kotlin

### 🔒 Firebase credentials (secret key)
src/test/resources/firebase-adminsdk.json
src/main/resources/firebase-adminsdk.json

# ==========================
# 🔒 민감 파일 Git 제외 (운영 secrets)
# ==========================
.env
src/main/resources/application-prod.yml
src/main/resources/application.yml
